.contain {
    background-color: darkblue;
    border-radius: 1rem;
}
.img-responsive{
    max-width: 100%;
    display: block;
    height: auto;
}

.gambar img {
    border-radius: 50%;
}

.icon img {
    margin-left: 2rem;
    margin-top: 1rem;
    border-radius: 95%;
}

.off{
    display: none;
}
      
.whyus{
    display: none;
}

.faq2{
    display: none;
}
.foot2{
    display: none;
}


@media(max-width: 668px){
.off{
    display: inherit;
}

.on{
    display: none;
}

.spasi{
    margin-top: 75px;
}

.register{
    width: 120px;
    text-align: center;
    }
    
.tengah{
    float: center;
  
}
 
.whyus{
    display: inherit;

}

.whyus2{
    display: none;

}

.faq{

    display: none ;
}
      /* mobile */
.faq2{

    display: inherit ;
}
.foot2{
    display: block;
}
.foot1{
    display: none;
}

.link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
 
}

.link{
    text-decoration: none;
    color: black;
}
     
     

